<div class="row">
    <div class="col-md-12 textcenter">
        <div ng-show="carregando" class="big-icon">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-padding-3" ng-hide="meeting">
        <h3><i class="fa fa-user" aria-hidden="true"></i> <span>Cole aqui o cabeçalho:</span></h3>
        <div class="form-group">
            <label for="cabecalho">Cabecalho::</label>
            <textarea rows="10" type="text" class="form-control" id="cabecalho" ng-model="cabecalho"></textarea>
            <br/>
            <a style="float: right; " ng-click="exemplo()">Usar Exemplo</a>
        </div>

        <div class="form-group" ng-show="cabecalho">
            <button type="button" class="btn btn-success btn-lg" ng-click="parseHeader(cabecalho)">
                <i class="fa fa-cogs" aria-hidden="true"></i><span>Processar cabecalho</span>
            </button>
        </div>
    </div>

    <div class="col-md-6" ng-show="meeting">
        <h3><span>Sua reuniao:</span></h3>
        <div class="form-group">
            <label for="organizer">Organizador:</label>
            <input type="text" class="form-control" id="organizer" ng-model="meeting.organizer.name"></textarea>
            <label for="start">Hora inicio:</label>
            <input type="text" class="form-control" id="start" ng-model="meeting.start"></textarea>
            <label for="end">Hora fim:</label>
            <input type="text" class="form-control" id="end" ng-model="meeting.end"></textarea>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-success btn-lg" ng-click="processar(meeting)">
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>Consultar</button>

            <button type="button" class="btn btn-default btn-lg" ng-click="meeting = undefined">
                <i class="fa fa-trash-o" aria-hidden="true"></i>Limpar
            </button>
        </div>

    </div>

    <div class="col-md-6" ng-show="meeting">
        <div class="form-group">
            <label for="attendees">Participantes:</label>

            <div class="input-group">
                <input id="add" class="form-control" type="text" ng-model="tmpName" placeholder="digite um nome">
                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-class="tmpName? 'enabled' : 'disabled'" ng-click="addAttendee(tmpName)">
                        Add Participante
                    </button>
                </span>
            </div>

            <table class="table table-striped" id="attendees">
                <tr ng-repeat="attendee in meeting.attendeeList">
                    <td><span>{{attendee.name}}</span><a style="color: red; padding-left: 10px;" ng-click="deleteName($index)">[remover]</a></td>
                </tr>
            </table>

        </div>
    </div>
</div>